[submodule "ecg_framework_code"]
	path = ecg_framework_code
	url = https://github.com/icsi-berkeley/ecg_framework_code.git
[submodule "ecg_grammars"]
	path = ecg_grammars
	url = https://github.com/icsi-berkeley/ecg_grammars.git
